[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
statsmodels = "==0.10.2"
pmdarima = "==1.2.1"
tbats = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
tqdm = "*"
scipy = "*"
imblearn = "*"
matplotlib = "*"
seaborn = "*"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_version = "2.7"
